.App {
  color: #282c34;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap: 2em;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  font-weight: 600;
  color: white;
}



.task-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.task-header{
  margin:0;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}

.task-description{
  width: 60vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top:0.5em;
}

.task-main{
  background-color: #282c34;
  color: #fff;
  position: relative;
  border: 1px solid #282c34;
  min-width: 60vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

